.vscode/**
.vscode-test/**
.gitignore
node_modules/**
src/**
test/**
scripts/**
releases/**
tsconfig.json
flake.nix
flake.lock
.envrc
package-lock.json
dist/*.test.js
dist/integration.js
dist/probe.js
